
*{
    margin: 0;
    padding: 0;
    font-family: 仿宋;
    font-size: 30px;
    background-image: url("../image/边框2.png");
    background-size: 100%;

}

.box{
    width: 1226px;
    height: 1690px;
    background: rgba(0,0,0,.3);
    margin: 0 auto;
}
video,iframe{
    margin: 10px auto;
}
a{
    float: right;
    display: block;
    width: 200px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    text-decoration: none;
    background: rgba(0,0,0,.5);
    color: white;
}
a:hover{
    background: rgba(0,0,0,.3);
}



